html,body {
  height:100%;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size:35px;
  color:#DDCCEE;
}

.heading {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

.gameOver {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.hint {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.winner {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-top: -20px;

}

img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.lead {
	color:#746C7B;
  font-family: "Courier New", Courier, monospace;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#29293D;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#8F8F8F;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  